<div class="abtMainDiv">

  <!-- basic information -->
  <div class="basic">
    <div class="nameDiv">
      <p class="fontC">Ezeakacha Emmanuela Mmasichukwu</p>
    </div>

    <div class="contact">
      <div class="cntctDiv">
        <p><strong class="fontC">Email Address: </strong><span>emmanuelaezeakacha@gmail.com</span></p>
        <p><strong class="fontC">Phone Number: </strong><span>+2347032740011</span></p>
      </div>
    </div>
  </div>

  <!-- picture and quote -->
  <div class="scndDiv">
    <div class="">
      <img src="../../assets/images/IMG_20180906_090627.jpg" class="imgDiv">
    </div>

    <div class="writeup">
      <div class="writeDiv">
        <p class="fontC"><strong><i>Professional Goal</i></strong></p>
        <p class="quoteP">
          To constantly improve sustainable animal production by discovering alternative feed ingredients and improving bone metabolism
          and digestibility of nutrients.
        </p>
      </div>
    </div>
  </div>

</div>
