.abtMainDiv {
  height: 100vh;
}

.hdr {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.imgDiv {
  background-image: url("../../assets/images/IMG_20180906_090627.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1000px;
  height: 500px;
  justify-content: center;
}

.writeup {

}
