<div class="pubMain">
  <div class="pubMini">

    <!-- <div> -->
      <div class="pubT">
        <p class="pubTi">Publications</p>
      </div>

      <div>
        <ul>
          <li>
            <div>
              <div>
                <p class="pubTopic">Effects of <i>Mimosa diplotricha</i> Leaf Meal on the Organ Weights and Organoleptic Properties of Three Broiler Strains</p>
              </div>

              <div class="linkDiv">
                <a target="_blank" href="../../assets/docs/Ezeakachaetal1.pdf">
                  <button>View Publication</button>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>


    <!-- </div> -->
  </div>

</div>
