<div class="refMain">
  <div class="refDivv">
      <div>
        <ul>
          <li>
            <div>
              <p><strong>Name: </strong><span>Professor A.B.I Udedibie</span></p>
              <p><strong>Organization: </strong><span>Federal University of Technology, Owerri</span></p>
              <p><strong>Title: </strong><span>Professor, Former Deputy Vice-Chancellor (Academic)</span></p>
              <p><strong>Relationship: </strong><span>Lecturer / Research Mentor</span></p>
              <p><strong>City: </strong><span>Owerri</span></p>
              <p><strong>State: </strong><span>Imo</span></p>
              <p><strong>Country: </strong><span>Nigeria</span></p>
              <p><strong>Email: </strong><span class="emailSpan">eullagabx@gmail.com</span></p>
              <p><strong>Phone: </strong><span>+2348037111043 </span></p>
            </div>
          </li>
          <br>
          <li>
            <div>
              <p><strong>Name: </strong><span>Doctor J.C Okonkwo</span></p>
              <p><strong>Organization: </strong><span>Nnamdi Azikiwe University</span></p>
              <p><strong>Title: </strong><span>Head, Department of Animal Science and Technology,
                 Postgraduate Sub-Dean, Faculty of Agriculture
                </span></p>
              <p><strong>Relationship: </strong><span>Research Supervisor</span></p>
              <p><strong>City: </strong><span>Awka</span></p>
              <p><strong>State: </strong><span>Anambra</span></p>
              <p><strong>Country: </strong><span>Nigeria</span></p>
              <p><strong>Email: </strong><span class="emailSpan">jc.okonkwo@unizik.edu.ng</span></p>
              <p><strong>Phone: </strong><span>+2348035414358</span></p>
            </div>
          </li>
          <br>
          <li>
            <div>
              <p><strong>Name: </strong><span>Doctor O.O Ndukwe</span></p>
              <p><strong>Organization: </strong><span>Nnamdi Azikiwe University</span></p>
              <p><strong>Title: </strong><span>Sub-Dean, Faculty of Agriculture</span></p>
              <p><strong>Relationship: </strong><span>Academic Supervisor</span></p>
              <p><strong>City: </strong><span>Awka</span></p>
              <p><strong>State: </strong><span>Anambra</span></p>
              <p><strong>Country: </strong><span>Nigeria</span></p>
              <p><strong>Email: </strong><span class="emailSpan">oo.ndukwe@unizik.edu.ng</span></p>
              <p><strong>Phone: </strong><span>+2348034449396</span></p>
            </div>
          </li>
        </ul>
      </div>
  </div>

</div>

